{
	"env": {
		"browser": true,
		"es6": true,
		"jquery": true,
		"node": true
	},
	"extends": ["standard", "prettier"],
	"parser": "babel-eslint",
	"parserOptions": {
		"ecmaVersion": 2018,
		"sourceType": "module"
	},
	"plugins": ["prettier"],
	"rules": {
		"camelcase": 2,
		"comma-dangle": 0,
		"indent": [
			"error",
			"tab",
			{
				"SwitchCase": 2
			}
		],
		"linebreak-style": [2, "unix"],
		"no-alert": 1,
		"no-await-in-loop": 0,
		"no-console": 1,
		"no-debugger": 0,
		"no-mixed-spaces-and-tabs": ["error", "smart-tabs"],
		"no-param-reassign": [
			2,
			{
				"props": false
			}
		],
		"no-tabs": 0,
		"no-unused-vars": [
			1,
			{
				"argsIgnorePattern": "res|next|^err",
				"ignoreSiblings": true
			}
		],
		"prefer-destructuring": 1,
		"prefer-template": 2,
		"prettier/prettier": [
			"error",
			{
				"singleQuote": true,
				"trailingComma": "es5",
				"useTabs": true
			}
		],
		"quotes": [
			2,
			"single",
			{
				"allowTemplateLiterals": true,
				"avoidEscape": true
			}
		],
		"semi": 0,
		"strict": [2, "global"]
	}
}
